@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f5f8fa;
}



.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-bottom: 2px solid #2980b9;
}


.nav-links{
    display: flex;
    flex-direction: row;
    margin-right: 100px
}

.nav-links li {
    margin-right: 20px;
    list-style: none;
    padding: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff5733;
}

.search-bar {
    display: flex; 
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #2980b9;
    border-radius: 4px;
  }
  
  .button-icon {
    background-color: transparent;
    color: #2980b9; 
    border: transparent;
    padding: 0; 
    margin: 0;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 10px;
  }    
  


/* navbar end */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Style the buttons */
.button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
}

.button:hover {
    background-color: #2980b9;
}

/* Style the submenu */
.smenu ul {
    list-style: none;
}

.smenu li {
    margin-bottom: 10px;
}

/* Style the dropdown list */
.dropdown-list {
    display: flex;
    align-items: center;
}

.dropdown-list label {
    margin-right: 10px;
}

.svg {
    color: #ebebeb;
    transition: color 25ms ease-in-out;
    background-color: #3498db;
}

.svg:hover {
    background-color: #ff5733;
    color: #ff5733;
    cursor: pointer;
}

.clickable-region {
    position: absolute;
    background-color: transparent;
  }

  .logo {
    /* position: absolute; */
    width: 150px;
    height: 75px;
    padding: 0;
    margin: 0 60px;
  }

  .tw-bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
} 

.tb-flex {
    display: flex;
}

